@import "flatly-variables";

$primarycolor: #7044BD;
$btn-primary-bg: $primarycolor;
$zoom: 1.44;

@import "bootstrap";
@import "flatly";

@import "colors";
@import "flex-video";
@import "animate";

@mixin default-font {
  font-size: 19px;
  line-height: 1.7;
  font-weight: normal;
}

body {
  @include default-font;
}

#header {
  padding: 24px 0;

  font-weight: 400;
  font-size: 14px * $zoom;
  letter-spacing: 0.5px;
  line-height: 16px * $zoom;

  img {
    width: 180px;
    height: auto;
  }

  p {
    padding-top: 20px;
  }
}

#footer {
  background: #000000;
  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-size: 14px * $zoom;
  color: #A7A7A7;
  letter-spacing: 0.5px;
  line-height: 16px * $zoom;
  margin: 0;
  padding: 20px;

  a {
    color: #A7A7A7;
  }

  p {
    margin: 0;
  }
}

section.pagetitle {
  background-color: #1ea1ed;
  color: white;
  padding: 30px 0 40px 0;
  margin: 0 0 40px 0;

  h1 {
    color: white;
    font-weight: 900;
  }
}

.btn-block {
  white-space: normal; // чтобы работал перенос текста
}

img.leftie {
  float: left;
  margin: 20px 40px 20px 0;
  width: 40%;
}
img.widie {
  max-width: 100%;
  max-height: 300px;
}
