---
layout: base
---

<link rel="stylesheet" type="text/css" href="/listbuilder.css" />

<section id="hero">
  <div class="container">
    <div class="host">
      <img src="/images/host.jpg">
      <p class="title">Автор курса</p>
      <p class="name">Николай Воробьёв</p>
    </div>
    <p class="lead" id="format">Бесплатная консультация + Групповой коучинг</p>
    <h1 class="primary">{{ page.title }}</h1>
    <h1 class="subheadline">{{ page.subtitle }}</h1>
  </div>
</section>

<section id="main">
  <div class="container">
    <div class="col-md-6">
      <p class="lead" id="offer">Первое занятие бесплатно!</p>
      <table class="features">
        <tr>
          <td class="img"><img src="/images/bulletimage1.png" /></td>
          <td class="text">Твоя жизнь наполнится смыслом</td>
        </tr>
        <tr>
          <td class="img"><img src="/images/bulletimage2.png" /></td>
          <td class="text">Ты будешь бодро вставать по утрам</td>
        </tr>
        <tr>
          <td class="img"><img src="/images/bulletimage3.png" /></td>
          <td class="text">Ты станешь вдохновлённым и счастливым</td>
        </tr>
        <tr>
          <td class="img"><img src="/images/bulletimage4.png" /></td>
          <td class="text">Каждое твоё действие будет направлено на осуществление твоей мечты</td>
        </tr>
        <tr>
          <td class="img"><img src="/images/bulletimage5.png" /></td>
          <td class="text">За следующие 6 месяцев ты сделаешь больше, чем за весь прошлый год</td>
        </tr>
        <tr>
          <td class="img"><img src="/images/bulletimage6.png" /></td>
          <td class="text">Ты изменишь свою жизнь и будешь с гордостью рассказывать о своих достижениях</td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <div class="formholder">
        <p class="lead" id="bonus">Ограниченный набор в&nbsp;обучение!</p>
        <p>Оставь свою заявку прямо сейчас, получи подробную информацию и&nbsp;выбери вдохновляющую цель своей жизни уже через 1-5 дней</p>
        <form action="http://z.prorealnost.com/order_and_redirect.php" method="POST">
          <div class="form-group">
            <div class="form-group">
              <label>Имя</label>
              <input type="text" name="name" class="form-control" placeholder="Введи сюда своё имя" required="required"/>
            </div>
            <div class="form-group">
              <label>Email куда прислать анкету</label>
              <input type="email" name="email" class="form-control" placeholder="Твоя электронная почта" required="required"/>
            </div>
            <div class="form-group">
              <label>Телефон, по&nbsp;которому с&nbsp;тобой свяжется тренер</label>
              <input type="text" name="phone" rules="phone" class="form-control" placeholder="Твой телефон" required="required"/>
            </div>
          </div>
          <button type="submit" class="btn btn-warning btn-lg btn-block"><span>Начать</span></button>
          <input type="hidden" name="mailchimp-product-interest-id" value="a7229d70bd" />
          <input type="hidden" name="trello-list-id" value="56f008349ab301df8fb8e51e" />
          <input type="hidden" name="redirect" value="{{ site.url }}/confirm/" />
        </form>
      </div>
    </div>
  </div>
</section>
